.filter-card {
  height: 180px;
  margin-left: 120px !important;

  top: 40px !important;
  background-color: #e5e5e5 !important;
}
/* searchbar for filtering design */
.search-bar {
}
.search-input {
  border-bottom-right-radius: 20px !important;
  /* border-bottom-left-radius: 20px; */
  /* border-top-left-radius: 20px; */
  border-top-right-radius: 20px !important;
}
.inventory-list {
  margin-left: 120px !important;
  margin-block: 40px;
  top: 40px !important;
}
.header-table {
  background-color: #e5e5e5 !important;
}
